.inicioA{
    color: rgb(0, 255, 55);
}
.cuerpoA{
    background-color: red;
}
.footerA{
    color: royalblue;
}
.inicioB{
    color: red;
}
.cuerpoB{
    background-color:seagreen;
}
.footerB{
    color:skyblue;
}